body{
    background-image: url("./images/Fondo.jpg") !important;
    background-position: inherit !important;
}
html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}
html,body {
    background:#777;
    padding:0;
    margin:0;
    font-family:sans-serif;
}
form {
width:90%;
    margin:15px auto;
}
input, textarea {
    width:100%;
    margin-bottom:10px;
    border-radius:3px;
    padding:4px 7px;
}
#eml, #tel {
    width:49%;
}
#tel {
    float:right;
}
button {
    float:right;
    border-radius:3px;
}
tr, th, td{
    border: 2px solid black;
}
.card{
    margin: 50px;
}
.card-body{
    text-align: center;
}
#editFondoCard{
    background-image: url("./images/Fondo.jpg");
}
